div(class="store-detail")
  div(class="strore-detail__header")
    i(class="fa fa-map-marker")
    div(class="store-detail__info")
      h2!= store.properties.title
    i(class="fa fa-times-circle-o store-detail__close")
  div(class="store-detail__content")
    div(class="flex-container")
      div(class="store-detail__basic-info")
        p!= store.properties.address.streetAddress
        p #{store.properties.address.city}, #{store.properties.address.state} #{store.properties.address.zip}
        a(class="store-detail__basic-info__phone" href="tel:" + store.properties.phone) #{store.properties.phone}
      img(class="store-detail__basic-info__icon" src="img/navigation-icon.png")
    hr
    h3(class="store-detail__subheader">Nutrition Availability)
    a(class="nutrition-info__my-plate" href="#") Learn More About MyPlate
    div(class="flex-container")
      div(class="nutrition-list")
        span(class="fruit") Fruit
        span(class="dairy") Dairy
        span(class="protein") Protein
        span(class="grains") Grains
        span(class="vegetables") Vegatables
    hr
    h3(class="store-detail__subheader") Benefits Welcome
    div(class="flex-container benefits")
      span(class="benefit active") SNAP
      span(class="benefit") EBT
      span(class="benefit active") WIC
      span(class="benefit") 2x Bucks
