div(class="results-wrapper")

	div(class="list-header hidden")
		input(type="text" placeholder="Enter another Location" name="location-header" id="list-header-input")
		i(class="fa fa-search update-submit")
		i(class="fa fa-filter filter icon-filter")

	div(class="store-list")
		each store, index in stores
			div(class="store #{store.properties._count}" data-id="#{store.properties._id}")
				i(class="fa fa-map-marker icon-map-pin")
				div(class="store__info")
					h2 #{store.properties.title} • #{store.properties.distance}
					p!= store.properties.category.formatted
					span(class="fa-stack fa-lg")
					i(class="icon-nav-forward")
